    <section class="flat-row parallax parallax2 wrap-flat-team pad-top85px pad-bottom0px" style="background-position: 50% -90px;">
        <div class="container">
            <hr class="mt-4 mb-6">
            <div class="row">
                <div class="col">
                    <h1 class="text-center mb-4">Rencontrez notre équipe</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="flat-team">
                        <div class="avatar"><img class="teamimg" src="assets/img/ros.png?h=a2791a227f7ce6bab639a4b1a1c5d0b4">
                            <div class="content">
                                <h6 class="name">Rostanie TIOGO</h6><span class="position">Manager Saphire</span>
                                <ul class="list-inline flat-socials">
                                    <li class="list-inline-item facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="flat-team">
                        <div class="avatar"><img class="teamimg" src="assets/img/ros.png?h=a2791a227f7ce6bab639a4b1a1c5d0b4">
                            <div class="content">
                                <h6 class="name">Rostanie TIOGO</h6><span class="position">Manager Saphire</span>
                                <ul class="list-inline flat-socials">
                                    <li class="list-inline-item facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="flat-team">
                        <div class="avatar"><img class="teamimg" src="assets/img/ros.png?h=a2791a227f7ce6bab639a4b1a1c5d0b4">
                            <div class="content">
                                <h6 class="name">Rostanie TIOGO</h6><span class="position">Manager Saphire</span>
                                <ul class="list-inline flat-socials">
                                    <li class="list-inline-item facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>