    <!-- Start: Bold BS4 Footer Big Logo -->
    <footer id="myFooter">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-2"><a href="#">&nbsp;<img src="assets/img/logo.png?h=3d6e7daefdc9e4fa36430fa725a07668" style="position: relative;width: 200px;height: 120px;"></a></div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="#">A propos de chacha</a></li>
                        <li><a href="#">Comment magasiner<br></a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">S'identifier</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5>Service client</h5>
                    <ul>
                        <li><a href="#">Mode de paiement</a></li>
                        <li><a href="#">Livraison<br></a></li>
                        <li><a href="#">Termes et conditions</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h5>Mon compte</h5>
                    <ul>
                        <li><a href="#">Connexion</a></li>
                        <li><a href="#">Voir le panier<br></a></li>
                        <li><a href="#">Ma liste de souhaits</a></li>
                        <li><a href="#">Suivre ma commande</a></li>
                    </ul>
                </div>
                <div class="col-md-2 social-networks">
                    <div></div><a class="facebook" href="#"><i class="fa fa-facebook"></i></a><a class="twitter" href="#"><i class="fa fa-twitter"></i></a><a class="google" href="#"><i class="fa fa-google-plus"></i></a><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a><button class="btn btn-primary" style="margin-top:20px;" type="button">Contactez nous</button>
                </div>
            </div>
            <hr/>
            <div class="row footer-copyright">
                <div class="col">
                    <p>Copyright © 2021 Chacha Beauté Store. All Rights Reserved.<br></p>
                </div>
                <div class="col">
                    <figure class="figure">
                        <figcaption class="figure-caption" style="margin-bottom: 10px;font-size: 18px;color: black;font-weight: bold;">Mode de paiement</figcaption><img class="img-fluid figure-img" src="assets/img/payments.png?h=1107778baa62b60b8d4c8076232f1960">
                    </figure>
                </div>
            </div>
        </div>
    </footer><!-- End: Bold BS4 Footer Big Logo -->