    <!-- Start: Dark NavBar -->
    <div>
        <nav class="navbar navbar-dark navbar-expand-xl fixed-top navigation-clean-button" style="height: 30px;background-color: #555;color: #ffffff;transform: translateY(-1px);">
            <div class="container"><a class="navbar-brand" href="#">&nbsp;<img src="assets/img/logo.png?h=3d6e7daefdc9e4fa36430fa725a07668" style="width: 104px;height: 117px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="transform: translateY(-31px);"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mx-auto" #menu>
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" routerLink="/">&nbsp;Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="servic.html">&nbsp;Nos services</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" routerLink="magasiner.html">&nbsp;Magasiner</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" routerLink="/A-propos-de-nous">&nbsp;Qui sommes nous</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" routerLink="/blog">&nbsp;Blog</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" routerLink="/contactez-nous">&nbsp;Contactez-nous</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto" #menuRight>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-search"></i></a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-heart"></i><span class="badge rounded-pill badge-notification bg-danger">1</span>&nbsp;</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-shopping-cart"></i><span class="badge rounded-pill badge-notification bg-danger">1</span>&nbsp; &nbsp;$1500</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-sign-in"></i>&nbsp; Connexion</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div><!-- End: Dark NavBar -->