    <!-- Start: Dark NavBar -->
    <div>
        <nav class="navbar navbar-dark navbar-expand-xl fixed-top navigation-clean-button" style="height: 30px;background-color: #555;color: #ffffff;transform: translateY(-1px);">
            <div class="container"><a class="navbar-brand" href="#">&nbsp;<img src="assets/img/logo.png?h=3d6e7daefdc9e4fa36430fa725a07668" style="width: 104px;height: 117px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="transform: translateY(-31px);"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mx-auto" #menu>
                        <li class="nav-item"><a class="nav-link active" style="color:#17E52B;" routerLink="/">&nbsp;Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="servic.html">&nbsp;Nos services</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="magasiner.html">&nbsp;Magasiner</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" routerLink="/A-propos-de-nous">&nbsp;Qui sommes nous</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="blog.html">&nbsp;Blog</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" routerLink="/contactez-nous">&nbsp;Contactez-nous</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto" #menuRight>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-search"></i></a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-heart"></i><span class="badge rounded-pill badge-notification bg-danger">1</span>&nbsp;</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-shopping-cart"></i><span class="badge rounded-pill badge-notification bg-danger">1</span>&nbsp; &nbsp;$1500</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:#ffffff;" href="#"><i class="fa fa-sign-in"></i>&nbsp; Connexion</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div><!-- End: Dark NavBar -->

    <!-- Start: carou -->
    <section class="pulse animated" id="carousel">
        <!-- Start: Carousel Hero -->
        <div class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="bg-light border rounded border-light pulse animated hero-nature carousel-hero jumbotron py-5 px-4" style="background: url(&quot;assets/img/P4.png?h=c19d23e66c6682412d6281c4c70d5399&quot;) top / cover;">
                        <h1 class="hero-title"><em>P4 PROGRAMME D’AMINCISSEMENT SAIN</em><br></h1>
                        <p class="lead text-dark hero-subtitle" style="font-weight: bold;">Participer à nos séances d’entraînement virtuelles avec votre kit minceur<br></p>
                        <p><a class="btn btn-primary btn-lg border rounded-pill hero-button plat" role="button" href="#">Achetez</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="bg-light border rounded border-light pulse animated hero-photography carousel-hero jumbotron py-5 px-4" style="background: url(&quot;assets/img/beaute.png?h=0a25f8b651f85eefefedaebf3f52a49d&quot;) center / cover no-repeat;">
                        <h1 class="text-uppercase hero-title">PACK BEAUTE EDMARK</h1>
                        <p class="lead text-dark hero-subtitle" style="font-weight: bold;">RANIMEZ la peau en montrant son éclat naturellement sain</p>
                        <p><a class="btn btn-primary btn-lg border rounded-pill hero-button plat" role="button" href="#">Achetez</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="bg-light border rounded border-light pulse animated hero-technology carousel-hero jumbotron py-5 px-4" style="background: url(&quot;assets/img/Copy-of-Untitled-7.png?h=a9d76285ccecae7da78fc815649dae74&quot;);">
                        <h1 class="text-uppercase hero-title">Menthe poivrée sans sucre</h1>
                        <p class="lead text-dark hero-subtitle" style="font-weight: bold;">Exprimez une passion et un amour pour la vie avec EDMARK Incroyable pour se débarrasser de la mauvaise haleine</p>
                        <p><a class="btn btn-primary btn-lg border rounded-pill hero-button plat" role="button" href="#">Achetez</a></p>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
        </div><!-- End: Carousel Hero -->
    </section><!-- End: carou -->
    <section id="firstsection">
        <div class="container">
            <div #gsapTitle><h1 class="text-center" style="margin-top: 80px;">Meilleurs produits</h1></div>
            <div class="bg-white mb-5 p-5 rounded" style="margin-top: -16px;" #gsapSubtitle>
                <ul class="nav nav-pills text-center flex-column flex-sm-row justify-content-sm-center with-arrow lined" role="tablist" style="margin-bottom: 30px;font-size: 20px;">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="pill" href="#tab-1">Santé</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="pill" href="#tab-2">Beauté</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="inam" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row text-start justify-content-center">
                                                <div class="col-md-3 slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/splina.png?h=47f17263823aaf5d997fa8bbc746606e">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Splina</h5><span class="card-text">$ 250</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f8.png?h=1d23b3ac46b2d59344a719ade358876a">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">CoCollagen</h5><span class="card-text">$ 300</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f7.png?h=2e30bec564d93c5032f336818d04abd1">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Mocha</h5><span class="card-text">$ 400</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row text-start justify-content-center">
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f6.png?h=f384810b757ffbd05969780cbb80b944">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f5.png?h=94a548d36440e713a1257683fa061099">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f4.png?h=94a548d36440e713a1257683fa061099">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row text-start justify-content-center">
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f3.png?h=ffc75700f6a58abc3b8f0719329272cf">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f2.png?h=ffc75700f6a58abc3b8f0719329272cf">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f10.png?h=db4389210819300b0446c917412426d0">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><a class="carousel-control-prev" href="#inam" data-bs-slide="prev" style="/*background-color: #17e52b;*/" role="button"><span class="bg-dark border rounded-circle border-dark carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#inam" data-bs-slide="next" role="button"><span class="bg-dark border rounded-circle border-dark carousel-control-next-icon nexticon"></span><span class="sr-only">Next</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="inam-1" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row text-start justify-content-center">
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f6.png?h=f384810b757ffbd05969780cbb80b944">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f5.png?h=94a548d36440e713a1257683fa061099">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f4.png?h=94a548d36440e713a1257683fa061099">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Heading</h5><span class="card-text">Text</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row text-start justify-content-center">
                                                <div class="col-md-3 slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/splina.png?h=47f17263823aaf5d997fa8bbc746606e">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Splina</h5><span class="card-text">$ 250</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f8.png?h=1d23b3ac46b2d59344a719ade358876a">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">CoCollagen</h5><span class="card-text">$ 300</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-start slick-slide">
                                                    <div class="card wrap-pic-w pos-relative of-hidden"><img class="teamimg" src="assets/img/f7.png?h=2e30bec564d93c5032f336818d04abd1">
                                                        <div class="block2-overlay trans-0-4"><a class="block2-btn-addwishlist hov-pointer" href="#"><i class="fa fa-heart-o icon-wishlist icon_heart_alt" aria-hidden="true"></i><i class="fa fa-heart icon-wishlist icon_heart dis-none" aria-hidden="true"></i></a>
                                                            <div class="block2-btn-addcart w-size1 trans-0-4"><button class="btn btn-dark btn-sm flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button">Ajouter au panier</button></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Mocha</h5><span class="card-text">$ 400</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><a class="carousel-control-prev" href="#inam-1" data-bs-slide="prev" style="/*background-color: #17e52b;*/" role="button"><span class="bg-dark border rounded-circle border-dark carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#inam-1" data-bs-slide="next" role="button"><span class="bg-dark border rounded-circle border-dark carousel-control-next-icon nexticon"></span><span class="sr-only">Next</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section #gsapButton  id="secondsection" class="text-center secondsection" style="background: url(&quot;assets/img/P4.png?h=c19d23e66c6682412d6281c4c70d5399&quot;) center / cover no-repeat;height: 300px;position: relative;">
        <div class="container" style="position: relative;top: 60px;right: -15px;" >
            <div>
                <h1>Inscrivez-vous à notre newsletter maintenant</h1>
                <p>Recevez des mises à jour par e-mail sur notre dernière boutique et nos offres spéciales</p>
            </div>
            <form>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="input-group"><input class="form-control" type="text" placeholder="Entrez vos adresse e-mail"><button class="btn btn-dark text-uppercase" type="button">S'inscrire</button></div>
                    </div>
                </div>
            </form>
        </div>
    </section><!-- Start: animated-services -->
    <section id="services" class="services mt-4">
        <div class="container-md section-title">
            <div class="row justify-content-center">
                <div class="col-md-auto text-center">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fa fa-truck" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><strong>Paiement &amp; Livraison</strong></h4>
                            <p class="description">Livraison dans tous les pays&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto text-center">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fa fa-envelope" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><strong>Newsletter</strong></h4>
                            <p class="description">Recevoir vos produits préférés</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto text-center">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fa fa-lock" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><strong>Sécurité</strong></h4>
                            <p class="description">Vos paiements sont sécurisés<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto text-center">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fa fa-life-ring" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><strong>Support de qualité</strong><br></h4>
                            <p class="description">Commentaires en ligne 24/7&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End: animated-services -->

    <section #gsapTitles>
        <div class="text-center" >
            <h1>Blog</h1>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div><a href="#"><img src="assets/img/f6.png?h=f384810b757ffbd05969780cbb80b944" style="width: 100%;height: 100%;"></a></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><i class="fa fa-calendar"></i><span>&nbsp;25 octobre 2021</span></div>
                            <div class="col"><i class="fa fa-comments"></i><span>&nbsp;20</span></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start">Dites NON au savon chimique ordinaire et expérimentez votre nouvelle marque en basculant vers le Savon Splina à la Chlorophylle 100% naturelle !<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><a class="text-center text-decoration-none" href="#" style="color: #555;">
                                    <p class="comments">Continue à lire<br></p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div><a href="#"><img src="assets/img/f6.png?h=f384810b757ffbd05969780cbb80b944" style="width: 100%;height: 100%;"></a></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><i class="fa fa-calendar"></i><span>&nbsp;25 octobre 2021</span></div>
                            <div class="col"><i class="fa fa-comments"></i><span>&nbsp;20</span></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start">Dites NON au savon chimique ordinaire et expérimentez votre nouvelle marque en basculant vers le Savon Splina à la Chlorophylle 100% naturelle !<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><a class="text-center text-decoration-none" href="#" style="color: #555;">
                                    <p class="comments">Continue à lire<br></p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div><a href="#"><img src="assets/img/f6.png?h=f384810b757ffbd05969780cbb80b944" style="width: 100%;height: 100%;"></a></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><i class="fa fa-calendar"></i><span>&nbsp;25 octobre 2021</span></div>
                            <div class="col"><i class="fa fa-comments"></i><span>&nbsp;20</span></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-start">Dites NON au savon chimique ordinaire et expérimentez votre nouvelle marque en basculant vers le Savon Splina à la Chlorophylle 100% naturelle !<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><a class="text-center text-decoration-none" href="#" style="color: #555;">
                                    <p class="comments">Continue à lire<br></p>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>